{% extends "admin/admin_base.html" %}

{% block title %}Profile{% endblock %}

{% block admin_content %}

<h2>My Profile</h2>

<div class="profile-grid">

    <!-- PROFILE UPDATE -->
    <div class="profile-card">
        <h3>Profile Information</h3>

        <form method="POST">
            <label>Name</label>
            <input type="text" name="name" value="{{ user.NAME }}" required>

            <label>Email</label>
            <input type="email" value="{{ user.EMAIL }}" disabled>

            <label>Phone</label>
            <input type="text" name="phone" value="{{ user.PHONE_NUMBER }}">

            <button class="btn btn-primary">Update Profile</button>
        </form>
    </div>

    <!-- PASSWORD -->
    <div class="profile-card">
        <h3>Change Password</h3>

        <form method="POST" action="{{ url_for('admin_change_password') }}">
            <input type="password" name="current_password" placeholder="Current Password" required>
            <input type="password" name="new_password" placeholder="New Password" required>

            <button class="btn btn-warning">Change Password</button>
        </form>
    </div>

   

</div>

{% endblock %}
